processed_data/
checkpoints/
checkpoints_no_vel/
checkpoints_with_vel/
results_no_vel/
results_with_vel/
results/
Miniconda3-latest-Linux-x86_64.sh
__pycache__
wandb/
processed_data_*/
traj_code_1111/
traj_comparison/
traj_from_template/
verification/
git_reload/
Dinosaur_FW.bvh
check.py
processed_data_detrend_*/
processed_data_position_*/
processed_data_velocity_*/
preprocess_detrend.py